fluxosN8n/WebhoookTesteRAG.json
{
  "name": "Webhoook",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Recebe pergunta').item.json.body.chatInput }}",
        "options": {
          "systemMessage": "=[DIRETRIZ MÁXIMA E CONTEXTO]\n- Antes de tudo, consulte o histórico de mensagens e os DADOS DO CLIENTE abaixo para guiar o diálogo.\n\n- ANTES DE ENVIAR QUALQUER PERGUNTA, BUSQUE A RESPOSTA NO DADOS DO CLIENTE, caso não ache, pergunte ao usuário.\n\n[DADOS DO CLIENTE]\n\nnome: {{ $('Traz dados salvos do usuário').item.json.dados.nome }}\nsetor: {{ $('Traz dados salvos do usuário').item.json.dados.setor }}\nproduto/servico: {{ $('Traz dados salvos do usuário').item.json.dados['produto/servico'] }}\nmissao: {{ $('Traz dados salvos do usuário').item.json.dados.missao }}\nvisao: {{ $('Traz dados salvos do usuário').item.json.dados.visao }}\nvalores: {{ $('Traz dados salvos do usuário').item.json.dados.valores }}\nicp: {{ $('Traz dados salvos do usuário').item.json.dados.icp }}\nticketMedio: {{ $('Traz dados salvos do usuário').item.json.dados.ticketMedio }}\nprospeccao: {{ $('Traz dados salvos do usuário').item.json.dados.prospeccao }}\nnegociacao: {{ $('Traz dados salvos do usuário').item.json.dados.negociacao }}\nfechamento: {{ $('Traz dados salvos do usuário').item.json.dados.fechamento }}\ndor: {{ $('Traz dados salvos do usuário').item.json.dados.dor }}\n\n[PERSONA]\nVocê é a Ludmilla, Consultora Estratégica de Vendas sênior e uma escritora genial. Sua comunicação é empática, altamente profissional, focada em resultados e, acima de tudo, acessível. Você precisa mergulhar fundo no negócio do cliente para se tornar uma verdadeira especialista na empresa dele.\n\n[REGRAS RÍGIDAS DE COMUNICAÇÃO]\n1. UMA PERGUNTA POR VEZ: Nunca, sob nenhuma circunstância, envie uma lista de perguntas. Faça estritamente uma pergunta e aguarde a resposta.\n2. ACESSIBILIDADE E CLAREZA: Toda pergunta deve ser extremamente fácil de entender. SEMPRE forneça um exemplo prático ou um cenário para ilustrar o que você está perguntando.\n3. INVESTIGAÇÃO LIVRE: Você tem tópicos principais a seguir, mas SOMENTE SE NECESSÁRIO você para fazer perguntas secundárias e se aprofundar. ATENÇÃO PARA NÃO SER REDUNDANTE! \n\n[FLUXO DE ATENDIMENTO - SIGA ESTA ORDEM - ANTES DE ENTRAR VEJA O DADOS DO CLIENTE ACIMA]\n\nFASE 1: DIAGNÓSTICO PROFUNDO E VALIDAÇÃO ITERATIVA\nSeu objetivo é mapear os 5 pilares abaixo (um por vez):\n1. Identidade: Nome, setor de atuação e o que exatamente a empresa vende.\n2. Cultura: Missão, visão e valores centrais.\n3. Público: Quem é o ICP (Ideal Customer Profile) e qual o ticket médio.\n4. Processo: Como é o ciclo de vendas atual (prospecção, negociação, fechamento).\n5. Dor Principal: Qual o maior obstáculo que impede o time de vender mais hoje.\n\n-> REGRA CRÍTICA DE VALIDAÇÃO: \nSempre que você terminar de investigar um desses pilares e sentir que compreendeu 100% daquele ponto, PARE as perguntas e envie um RESUMO BEM ESCRITO do que você entendeu. \nPeça para o usuário validar: \"Foi isso mesmo que entendi? Podemos avançar ou deixei algo passar?\"\n- Se o usuário disser \"Sim/Correto\": Avance para o próximo pilar.\n- Se o usuário corrigir ou disser \"Não\": Faça mais perguntas sobre o mesmo pilar até o entendimento ser perfeito.\n\n- Ao concluir todos os pilares: Avance para FASE 2: APRESENTAÇÃO DE METODOLOGIAS\n\nFASE 2: APRESENTAÇÃO DE METODOLOGIAS\nAssim que todos os 5 pilares forem mapeados e validados, NÃO gere o material final ainda.\n- Analise o cenário e apresente as metodologias de vendas (ex: SPIN Selling, MEDDIC, Receita Previsível, etc.) que você julga serem as melhores para resolver a Dor Principal da empresa.\n- Explique essas metodologias por completo de forma muito didática.\n- Ao final da explicação, pergunte: \"Essa abordagem e essas metodologias fazem sentido para a realidade do seu negócio?\" (Aguarde a aprovação do usuário).\n\n- Ao obter a aprovação do usuário: Avance para FASE 3: A ENTREGA(O E-BOOK FINAL)\n\nFASE 3: A ENTREGA (O E-BOOK FINAL)\nApós o usuário aprovar as metodologias (Fase 2), atue como uma escritora genial.\n- Gere um E-BOOK personalizado e completo.\n- Esqueça o formato de \"orientações corporativas em tópicos\" ou manuais secos. O texto deve ser literário, em formato de livro, com uma leitura leve, cativante e altamente informativa.\n- Estruture em Capítulos envolventes. O conteúdo deve resolver cirurgicamente o problema do cliente, aplicando as metodologias validadas à realidade exata que ele te descreveu.\n\n[AÇÃO INICIAL]\nSe os DADOS DO CLIENTE estiver vazio, apresente-se brevemente como Ludmilla, Consultora Estratégica, e inicie a Fase 1 fazendo a pergunta do primeiro pilar (Identidade). Lembre-se de dar um exemplo na pergunta!"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2064,
        784
      ],
      "id": "39be48e9-e3a0-4f25-a9cc-ee8ab62c9e0c",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Recebe pergunta').item.json.body.sessionId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2160,
        1088
      ],
      "id": "7b5b37b8-abb2-4867-ba9e-908acbb0d72e",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        2016,
        992
      ],
      "id": "49134b05-e807-4086-bc7b-a854e656d4a0",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "nz6Ifs5DcMtKiEVW",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-embedding-001:embedContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "AIzaSyBZYJ_vGYRwZvzyK8RSUVKN1fMIFveAV_g"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": {\n    \"parts\": [\n      {\n        \"text\": {{ JSON.stringify($('Recebe pergunta').item.json.body.chatInput) }}\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1408,
        656
      ],
      "id": "17cd9a44-f4df-415e-808e-ca28b4ca3baf",
      "name": "Embedding pergunta",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH recentes AS (\n  -- 1. Pega as últimas 4 mensagens da conversa (Onde paramos?)\n  SELECT id, content, metadata, criado_em\n  FROM memorias\n  WHERE metadata->>'user_email' = '${{ $('Recebe pergunta').item.json.body.email }}$'\n  ORDER BY criado_em DESC\n  LIMIT 4\n),\nsimilares AS (\n  -- 2. Pega as 3 memórias mais relevantes sobre o assunto (O que já sabemos?)\n  SELECT m.id, m.content, m.metadata, m.criado_em\n  FROM match_documents(\n    ('[' || '{{ $json.embedding.values }}' || ']')::vector(3072),\n    0.65::float,\n    20::int,\n    ('{\"user_email\": \"' || '{{ $('Recebe pergunta').item.json.body.email }}' || '\"}')::jsonb\n  ) md\n  JOIN memorias m ON md.id = m.id\n)\n-- 3. Junta tudo e organiza como uma linha do tempo perfeita para a IA ler\nSELECT content, metadata \nFROM (\n  SELECT * FROM recentes\n  UNION\n  SELECT * FROM similares\n) as combinados\nORDER BY criado_em ASC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1632,
        656
      ],
      "id": "bbf3cc5c-687c-44a1-9735-ad8393ce6d46",
      "name": "Salva no Banco de dados",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "7Dj8pkheuaZ5WNCN",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nif (items.length === 0 || Object.keys(items[0].json).length === 0) {\n  return [{ json: { context: \"\" } }]; \n}\n\nconst contextText = items.map(item => {\n  let role = 'H'; // Padrão é Humano\n  let metadata = item.json.metadata;\n  \n  // Vacina 1: Se o Postgres mandou como Texto, converte para Objeto JSON\n  if (typeof metadata === 'string') {\n    try {\n      metadata = JSON.parse(metadata);\n    } catch(e) {}\n  }\n  \n  // Verifica quem falou com segurança\n  if (metadata && metadata.role === 'assistant') {\n    role = 'IA';\n  } else if (metadata && metadata.role === 'user') {\n    role = 'H';\n  } else {\n    // Vacina 2: Se não tiver role no banco, marca com ??? para você ver o erro\n    role = '???';\n  }\n  \n  return `[${role}]: ${item.json.content}`;\n}).join(\"\\n\");\n\nreturn [{ json: { context: contextText } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1872,
        784
      ],
      "id": "a056ea2d-9d2d-4f36-9753-9686339a7a9e",
      "name": "Monta a memória e a pergunta para a IA ler"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-embedding-001:embedContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "AIzaSyBZYJ_vGYRwZvzyK8RSUVKN1fMIFveAV_g"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  {\n    \"model\": \"models/embedding-001\",\n    \"content\": {\n      \"parts\": [{\n        \"text\": $json.output\n      }]\n    }\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2416,
        656
      ],
      "id": "97053df5-285f-48f9-a96c-ca9c99459553",
      "name": "Embendding resposta",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO memorias (user_email, content, embedding, metadata)\nVALUES\n-- 1. Salva a Pergunta\n(\n  '{{ $('Recebe pergunta').item.json.body.email }}', -- Email do usuário\n  '${{ $('Recebe pergunta').item.json.body.chatInput }}$', --Pergunta do usuário\n  ('[' || '{{ $('Embedding pergunta').item.json.embedding.values }}' || ']')::vector(3072),\n  -- injetamos o user_email DENTRO do JSON do metadata\n  ('{\"role\": \"user\", \"user_email\": \"' || '{{ $('Recebe pergunta').item.json.body.email }}' || '\"}')::jsonb\n),\n-- 2. Salva a Resposta\n(\n  '{{ $('Recebe pergunta').item.json.body.email }}',\n  '${{ $('AI Agent1').item.json.output }}$',\n  ('[' || '{{ $json.embedding.values }}' || ']')::vector(3072),\n  -- CORREÇÃO AQUI TAMBÉM\n  ('{\"role\": \"assistant\", \"user_email\": \"' || '{{ $('Recebe pergunta').item.json.body.email }}' || '\"}')::jsonb\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2624,
        656
      ],
      "id": "f56c5b22-1113-476a-87e6-15cb8f89022b",
      "name": "Salva resposta banco de dados",
      "credentials": {
        "postgres": {
          "id": "7Dj8pkheuaZ5WNCN",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"output\": $('AI Agent1').item.json.output } }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2848,
        784
      ],
      "id": "9c6f8c6c-16bd-464c-a31c-76e3394d2733",
      "name": "Envia resposta"
    },
    {
      "parameters": {
        "multipleMethods": true,
        "httpMethod": [
          "POST"
        ],
        "path": "agente-avance",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        992,
        784
      ],
      "id": "a9bb20a1-8ad2-4273-9b40-7654b86a478a",
      "name": "Recebe pergunta",
      "webhookId": "06881bfd-dfcd-4438-85f2-d467cb6fc4e8"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT dados \nFROM perfil_cliente \nWHERE user_email = '{{ $json.body.email }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1184,
        656
      ],
      "id": "013b3a7d-bee8-4af8-accc-dc63e433f568",
      "name": "Traz dados salvos do usuário",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "7Dj8pkheuaZ5WNCN",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        3040,
        992
      ],
      "id": "f717c126-1622-4a9b-a738-e176c3cb3bf2",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "nz6Ifs5DcMtKiEVW",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Recebe pergunta').item.json.body.chatInput }}\n\n{{ $('AI Agent1').item.json.output }}",
        "options": {
          "systemMessage": "=Seu objetivo é analisar a última interação e extrair APENAS informações NOVAS ou atualizadas sobre a empresa do cliente (Identidade, Cultura, Público, Processo, Dor).\n\nRegras:\n- Retorne APENAS um JSON válido com os dados novos. Não inclua informações que o usuário ou a IA não mencionou nesta rodada. Retire os dados tanto do cliente, quanto da IA\n- Caso não encontre nada relevante, não retorne nada, nem json, NADA NADA NÃO RESPONDA\n\nExemplo: Se algum deles só falou da dor agora, retorne: {\"Dor\": \"Minha equipe tem vergonha de ligar.\"}\n\nMODELO DE JSON A SER SEGUIDO SEMPRE:\n{\n\t\"nome\":\n\t\"setor\":\n\t\"produto/servico\":\n\t\"missao\":\n\t\"visao\":\n\t\"valores\":\n\t\"icp\":\n\t\"ticketMedio\":\n\t\"prospeccao\":\n\t\"negociacao\":\n\t\"fechamento\":\n\t\"dor\":\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        3056,
        784
      ],
      "id": "3a946fbc-ca56-4b50-bcce-558170ff610e",
      "name": "AI Agent",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO perfil_cliente (user_email, dados, atualizado_em)\nVALUES (\n  '{{ $('Recebe pergunta').item.json.body.email }}', \n  '{{ JSON.stringify($json.dados_finais).replace(/'/g, \"''\") }}'::jsonb, -- Usa o dado do nó Code\n  NOW()\n)\nON CONFLICT (user_email) \nDO UPDATE SET \n  dados = EXCLUDED.dados, \n  atualizado_em = NOW();",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3856,
        704
      ],
      "id": "04e20d1b-0489-4a76-8f5e-32981e626548",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "7Dj8pkheuaZ5WNCN",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let fichaAntiga = {};\ntry {\n  fichaAntiga = $('Traz dados salvos do usuário').first().json.dados || {};\n} catch(e) {\n  fichaAntiga = {};\n}\n\nlet fichaNova = {};\ntry {\n  let outputIA = $json.output || $json.message.content; \n  fichaNova = JSON.parse(outputIA);\n} catch(e) {\n  fichaNova = {};\n}\n\n// Junta as duas\nconst fichaFundida = { ...fichaAntiga, ...fichaNova };\n\n// Verifica se a IA mandou algo novo (se o JSON não está vazio)\nconst temDadoNovo = Object.keys(fichaNova).length > 0;\n\nreturn [{ \n  json: { \n    dados_finais: fichaFundida,\n    salvar_no_banco: temDadoNovo // Vai ser 'true' se tiver novidade, e 'false' se for {}\n  } \n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3392,
        784
      ],
      "id": "a60a44ae-0698-41c1-8c41-a8e9d80046a9",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "faafb892-a780-487a-922d-cb5036aa466d",
              "leftValue": "={{ $json.salvar_no_banco }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3600,
        784
      ],
      "id": "00f69dac-2e71-4b1e-af34-70cb760618ab",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Embendding resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embedding pergunta": {
      "main": [
        [
          {
            "node": "Salva no Banco de dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salva no Banco de dados": {
      "main": [
        [
          {
            "node": "Monta a memória e a pergunta para a IA ler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monta a memória e a pergunta para a IA ler": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embendding resposta": {
      "main": [
        [
          {
            "node": "Salva resposta banco de dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salva resposta banco de dados": {
      "main": [
        [
          {
            "node": "Envia resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recebe pergunta": {
      "main": [
        [
          {
            "node": "Traz dados salvos do usuário",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Traz dados salvos do usuário": {
      "main": [
        [
          {
            "node": "Embedding pergunta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia resposta": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "60099420-a1fb-4315-a92a-81229270d5ce",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8839934ba0db24c50d30b5974fff4ae99ae885c5d467d8c373920f615c507d3e"
  },
  "id": "IIPx7DSW8n7V5POm",
  "tags": []
}